<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/old/style.css">
    <link rel="icon" href="static/old/icon.ico">
    <script src="static/old/script.js" defer></script>
    <title>Sorin Fratean</title>
</head>
<body>
    <script src="static/old/p5.js"></script>
    <script id="stars_script" src="static/old/stars.js"></script>
    <div id="top-container" >
        <img id="top-cloud" src="static/old/images/cloud.png" alt="cloud-img">
        <h1 id="first_h1">I'm Sorin.</h1>
        <p>a programmer.</p>
        <img id="bottom-cloud" src="static/old/images/cloud.png" alt="cloud-img">
        <img src="static/old/images/mountain.png" alt="mountain-img" style="position: relative; z-index: 1">
    </div>
    <main>
        <img src="static/old/images/sorinel.png" alt="id-img">
        <h1>Hello</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, expedita est officia adipisci officiis molestias minima recusandae exercitationem quisquam vero nemo facere possimus amet suscipit.</p>
        <hr>
        <h1>My Skills.</h1>
        <div >
            <img src="static/old/images/computer.png" alt="computer-img">
            <span>
                <h2>Design & Developement</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, architecto ex itaque dolore enim iste delectus quod laudantium odit! Nostrum sed, voluptas modi, et corrupti laudantium sunt dolorem qui asperiores aliquid quas similique rem natus velit tempore vero, a repellendus?</p>
            </span>
        </div>
        <div>
            <span>
                <h2>Design & Developement</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui amet nemo rem quidem, expedita recusandae quasi temporibus. Dolore eos ipsa natus, rem veritatis iste similique cupiditate atque ex provident hic, officiis labore ab unde. Obcaecati excepturi officia voluptas exercitationem fugiat?</p>
            </span>
            <img src="static/old/images/chillies.png" alt="spicy-img">
        </div>
        <hr>
        <h2>Get In Touch</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor, sed fugiat. Nam quasi voluptas blanditiis.</p>
        <button><a href="mailto:soringrape@gmail.com">CONTACT ME</a></button>
        <br>
    </main>
    <footer>
        <span>
            <a href="https://www.linkedin.com/in/sorin-fratean-8478531bb/" id="linkedin">LinkedIn</a> 
            <a href="https://github.com/Sorinel27" id="github">GitHub</a> 
            <a href="https://www.instagram.com/sorinel_fr/" id="instagram">Instagram</a>
        </span>
        <p id="copy_p">&copy; Fratean Sorin, Cluj-Napoca, Romania - 2022</p>
    </footer>  
</body>
</html>