@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    background-color: rgb(64, 64, 64);
    text-align: center;
    font-family: 'Nunito', 'Arial', serif;
    margin: 0;

    h1,
    h2,
    h3 {
        color: #66bfbf;
    }

    #top-container {
        padding-top: 100px;
        // background: radial-gradient(circle at right, #0c1445, #4c408e, #38285c);
        background: linear-gradient(rgba(12, 20, 69,.8), rgba(6, 6, 75,.8));
        box-shadow: 0px 30px 75px rgb(6, 6, 75);
        #first_h1 {
            line-height: 2;
            font-size: 5.62em;
            margin: 0;
            position: relative; 
            z-index: 1;
        }
        #first_h1:hover{
            cursor: default;
        }

        p {
            color: #66bfbf;
            font-size: 2em;
        }

        #top-cloud {
            position: absolute;
            right: 300px;
            top: 50px;
            z-index: 1;
        }

        #bottom-cloud {
            position: absolute;
            left: 300px;
            z-index: 1;
        }
    }

    // #defaultCanvas0{
    //     position: fixed;
    //     padding-top: 10px;
    // }

    main {
        padding-top: 10px;
        
        p{
            color: rgb(250, 250, 250);
        }

        h2 {
            color: #11999e;
        }

        div {
            display: flex;
            flex-direction: row;
            justify-content: center;

            img {
                padding: 20px;
                width: 200px;
                height: 200px;
            }

            span {
                width: 50%;
            }
        }

        img {
            border-radius: 50%;
        }

        button {
            background-color: #11cdd4;
            width: 200px;
            height: 50px;
            border-width: 0px;
            border-radius: 10px;

            a {
                text-decoration: none;
                font-size: 1.5em;
                color: white;
            }
        }

        button:hover {
            cursor: pointer;
            border-color: aqua;
            border-width: 2px;
        }

        padding-bottom: 50px;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    footer {

        background-color: black;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: normal;
        gap: 20px;
        font-size: 1.3em;
        color: #e4f6f6;

        span {
            padding-top: 20px;
            justify-content: center;
            display: flex;
            gap: 30px;

            a {
                color: #11999e;
                text-decoration: none;
                font-weight: bolder;
            }

            #linkedin:hover {
                padding: 10px;
                font-family: 'Roboto', 'Arial', serif;
                font-weight: bolder;
                font-size: 1.6em;
                cursor: pointer;
                color: white;
                background-color: #0077b5;
                border-width: 1px;
                border-style: solid;
                border-color: white;
                border-radius: 10px;
                transition: all 1s ease;
            }

            #github:hover {
                padding: 10px;
                font-family: 'Roboto', 'Arial', serif;
                font-weight: bolder;
                font-size: 1.6em;
                cursor: pointer;
                color: black;
                background-color: white;
                border-width: 1px;
                border-style: solid;
                border-color: black;
                border-radius: 10px;
                transition: all 1s ease;
            }

            #instagram:hover {
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                padding: 10px;
                font-family: 'Roboto', 'Arial', serif;
                font-weight: bolder;
                font-size: 1.6em;
                cursor: pointer;
                color: white;
                border-width: 1px;
                border-style: solid;
                border-color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                border-radius: 10px;
                transition: all 1s ease;
            }
        }
        p{
            margin: 0px;
        }
        padding-bottom: 20px;

    }

}