<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <title>Project Slonder</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <h1><a class="navbar-brand" href="/"><i class="bi bi-tablet"></i> Project Slomber</a></h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>

                </ul>
                <!-- search -->
                <!-- <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->
            </div>
        </div>
    </nav>
    <div class="front-logo">
        <h1 class="page-title">Project Slomber</h1>
    </div>
    <div class="news-container" style="padding-bottom: 50px;">
        <div class="card" style="width: 100%;">
            <img src="{{response['articles'][post_id]['urlToImage']}}" class="card-img-top" alt="Image">
            <div class="card-body">
                <h5 class="card-title">{{response['articles'][post_id]['title']}}</h5>
                <p class="card-text">{{response['articles'][post_id]['description']}}</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed laborum necessitatibus iste unde exercitationem fuga impedit ipsam doloribus autem consequuntur cum blanditiis dignissimos reprehenderit modi quis sit fugit illo alias laboriosam non, libero ex porro. Facere quibusdam magnam ipsum rerum officia debitis deserunt itaque provident earum totam temporibus tempora quod praesentium at neque amet modi quia dolore, et dolorem voluptatem, voluptatibus voluptates? Enim, ducimus doloremque. Aperiam officiis quae doloribus minus optio dicta voluptatem totam quo assumenda libero quaerat soluta debitis aliquam perferendis quas incidunt molestiae corrupti laudantium nulla, recusandae cupiditate hic possimus provident. Consectetur ut magnam optio, fugiat architecto vero.</p>
                <a href="{{response['articles'][post_id]['url']}}" target="_blank" style="margin-right: auto; margin-left: auto;" class="btn btn-primary">Go to article</a>
            </div>
        </div>
    </div>
</body>

<footer>
    <ul class="icons">
        <li><a href="https://twitter.com/Sorin63701900" target="_blank"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/sorin.fratean" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.instagram.com/sorinel_fr/" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://github.com/Sorinel27" target="_blank"><i class="fab fa-github"></i></a></li>
        <li><a href="mailto:sorin78910@gmail.com" target="_blank"><i class="bi bi-envelope-fill"></i></a></li>
    </ul>
    <a href="https://sorinelfr.ro/" target="_blank">Copyright &copy; 2023 sorinel_fr</a>
</footer>

</html>