<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <title>Project Slonder</title>
</head>

<body style="margin-bottom: 10%;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <h1><a class="navbar-brand" href="/"><i class="bi bi-tablet"></i> Project Slomber</a></h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% if current_user.id == 1%}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/panel"><i class="bi bi-sliders"></i></a>
                    </li>
                    {% endif %}
                    {%if current_user.is_authenticated: %}
                    <li class="nav-item">
                        <div class="btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle nav-link active" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="true">
                                Hello, {{ current_user.name }}
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/profile/{{current_user.name}}">Profile</a>
                                <a class="dropdown-item" href="/logout">Log out</a>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/news">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    {% if current_user.is_authenticated == False: %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- main profile page -->
    <div class="jumbotron user-card">
        <br>
        {% if wrong_name: %}
        <h3>Error: No user with name {{name}}</h3>
        {% else %}
        <h3>{{user.name}} {% if user.id == 1: %}<i class="bi bi-hammer"></i>{% endif %} {% if user.is_admin: %}<i class="bi bi-display-fill"></i>{% endif %} {%if user.is_developer: %}<i class="bi bi-code-slash"></i>{% endif %}</h3>
        <hr>
        {% if user.picture_url != None: %}
        <img src="{{url_for('static', filename=route)}}" class="rounded mx-auto d-block" class="rounded mx-auto d-block">
        {% else %}
        <img src="{{url_for('static', filename='img/user.png')}}" class="rounded mx-auto d-block" width="400px" height="400px">
        {% endif %}
        <hr>
        {% if user.has_functions: %}
        {% if user.id == 1:%}
        <h5 style="color: mediumblue;"><i class="bi bi-hammer"></i> Founder</h5>
        {% endif %}
        {% if user.is_admin: %}
        <h5 style="color:crimson;"><i class="bi bi-display-fill"></i> Admin</h5>
        {% endif %}
        {% if user.is_developer: %}
        <h5 style="color:forestgreen;"><i class="bi bi-code-slash"></i> Developer</h5>
        {% endif %}
        <hr>
        {% endif %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">
                        posts
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if number_of_posts != 0:%}
                    {% for post in user_posts: %}
                        <tr>
                            <td>
                                <a href="/blog/post/{{post.id}}" style="text-decoration: none;">{{post.title}}</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>
                            This user has no posts
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        {% if (current_user.is_authenticated and current_user.name == user.name) or current_user.is_admin: %}
        <hr>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="/profile/{{user.name}}/edit" class="btn btn-secondary me-md-2">Edit Profile</a>
        </div>
        {% endif %}
        <hr>
        <p>Profile views: {{user.profile_views}}</p>
        {% endif %}
    </div>
</body>
<footer>
    <ul class="icons">
        <li><a href="https://twitter.com/Sorin63701900" target="_blank"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/sorin.fratean" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.instagram.com/sorinel_fr/" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://github.com/Sorinel27" target="_blank"><i class="fab fa-github"></i></a></li>
        <li><a href="mailto:sorin78910@gmail.com" target="_blank"><i class="bi bi-envelope-fill"></i></a></li>
    </ul>
    <a href="https://sorinelfr.ro/" target="_blank">Copyright &copy; 2023 sorinel_fr</a>
</footer>
</html>
