@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
html, body{
    font-family: 'Nunito', 'Arial', sans-serif;
    background-color: #D3D4D9;
}
.top-header{
    position: fixed;
    left: 0;
    top: 0;
    height: 19%;
    width: 100%;
    color: white;
    background-color: #1F487E;
}
h1{
    position: relative;
    left: 30%;
}

.post{
    position: relative;
    left: 27%;
    width: 40%;
    margin-top: 5%;
    padding: 40px;
    background-color: white;
}
.post:last-child{
    padding-bottom: 100px;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    color: white;
    background-color: #6290C8;
}