<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Blog</title>
</head>
<body>
    <div class="top-header"><h1>My Blog</h1></div>
    <div class="container">
        {% if id == 0 %}
            {% for item in posts %}
                <div class="post">
                    <h2>{{item['title']}}</h2>
                    <p>{{item['subtitle']}}</p>
                    <a href="{{ url_for('post_page', id=item['id']) }}">Read more</a>
                </div>
            {% endfor %}
        {% else %}
            <div class="post">
                    <h2>{{title}}</h2>
                    <h3>{{subtitle}}</h3>
                    <p>{{body}}</p>
            </div>
        {% endif %}
    </div>
</body>
<footer>
    <p>Made with ❤ in Cluj-Napoca.</p>
</footer>
</html>