@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
body{
    background-image: url('img/bg.jpg');
    background-size: auto;
    .front-logo{
        text-align: center;
        padding-top: 7%;
        padding-bottom: 7%;
    }
    .news-container{
        // font-family: 'Nunito', 'Arial', sans-serif;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        a{
            text-decoration: none;
        }
    }
    #about-me{
        margin-top: 7%;
        background-color: white;
        font-family: 'Nunito', 'Arial', sans-serif;
        p{
            margin-left: 25%;
            margin-right: 25%;
        }
        p:last-child{
            margin-bottom: 0;
        }
        margin-bottom: 7%;
    }
    .container{
        background-color: white;
        margin-top: 7%;
        font-family: 'Nunito', 'Arial', sans-serif;
    }
    .secret{
        text-decoration: none;
        color: #333;
    }
    .contact-form{
        // width: 50%;
        background-color: white;
        // display: flex;
        margin-top: 10%;
        padding-top: 50px;
        padding-bottom: 50px;
        form{
            margin-left: 5%;
            margin-right: 5%;
            .form-group{
                margin-bottom: 1.2%;
            }
        }
    }
    .successMessage{
        padding-top: 10%;
    }    
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    .icons{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: center;
        padding-left: 0;
        li{
            padding-right: 1%;
        }
    }
    a{
        text-decoration: none;
        color: rgb(216, 216, 216);
    }
    a:hover{
        color: white;
    }
}

@media screen and (max-width: 768px) {
    body{
        background-size: cover;
    }
}

@media screen and (max-width: 1024px) {
    body{
        background-size: cover;
    }
}
